.form {
  position: relative;
  font-family: monospace;
  font-size: 26px;
  color: black;
}
.form input,
.form button {
  font-size: 26px;
}
.form__input-wrapper {
  position: relative;
  display: flex;
  width: 50%;
  height: 50px;
}
.form__hide {
  display: none;
}
.form__auto-complite {
  max-height: 300px;
  overflow: scroll;
  width: 50%;
  background: rgb(212, 212, 212);
}
.form__btn {
  background: transparent;
  border: solid 1px gray;
  box-sizing: border-box;
  width: 150px;
}
.form__hypothesis {
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  width: 100%;
  border: solid 1px gray;
  pointer-events: none;
  box-sizing: border-box;
  line-height: 1;
  background: transparent ;
}

.form__input-city {
  margin: 0;
  padding: 10px;
  background: transparent;
  border: solid 1px gray;
  box-sizing: border-box;
  line-height: 1;
  
}